.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  border: 2px solid black;
}

.arrow,
li {
  cursor: pointer;
}

.arrow {
  font-size: 80px;
}

.slider {
  margin: 10px;
}

img {
  width: 100%;
  transition: 0.5s ease-in-out;
}

.images {
  display: flex;
  width: 300px;
  overflow: clip;
}

menu {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
