/* body {
  margin: 0;
  width: 100vw;
  height: 100vh;
} */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 300px;
  border: 2px solid blue;
}

.arrow,
li {
  cursor: pointer;
}

.arrow {
  font-size: 80px;
}

img {
  width: 300px;
}

menu {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

li {
  color: transparent;
  text-shadow: 0 0 darkgray;
}

li:hover {
  text-shadow: 0 0 lightgray;
}
